# Financial Data Analysis

## Importing and Exporting Stock Price Data from Yahoo Finance

In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
ticker = ["AAPL", "BA", "KO", "IBM", "DIS", "MSFT" ]

In [6]:
# Open, High, Low, Close 
# Adj Close(조정 종가): 배당금과 주식 분할을 감안하고 계산하여 전체 성과나 전체 수익을 계산할 때 더 적절한 가
# Value : 하루 동안 거래된 주식의 양을 주 단위로 표시한 것
yf.download("AAPL", start="2010-01-01", end="2019-02-06")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04 00:00:00-05:00,7.622500,7.660714,7.585000,7.643214,6.515211,493729600
2010-01-05 00:00:00-05:00,7.664286,7.699643,7.616071,7.656429,6.526475,601904800
2010-01-06 00:00:00-05:00,7.656429,7.686786,7.526786,7.534643,6.422664,552160000
2010-01-07 00:00:00-05:00,7.562500,7.571429,7.466071,7.520714,6.410792,477131200
2010-01-08 00:00:00-05:00,7.510714,7.571429,7.466429,7.570714,6.453412,447610800
...,...,...,...,...,...,...
2019-01-30 00:00:00-05:00,40.812500,41.537498,40.057499,41.312500,39.873817,244439200
2019-01-31 00:00:00-05:00,41.527500,42.250000,41.139999,41.610001,40.160965,162958400
2019-02-01 00:00:00-05:00,41.740002,42.244999,41.482498,41.630001,40.180271,130672400
2019-02-04 00:00:00-05:00,41.852501,42.915001,41.820000,42.812500,41.321583,125982000
2019-02-05 00:00:00-05:00,43.215000,43.770000,43.087502,43.544998,42.028580,144406400

In [8]:
# ticker를 리스트로 전달하여 stocks 변수에 저장
stocks = yf.download(ticker, start = "2010-01-01", end = "2019-02-06")

[*********************100%***********************]  6 of 6 completed

In [9]:
# 바깥 인덱스에는 Adj Close, Close, Open
# 안쪽 인텍스에는 Stock Ticker
stocks.head()

                          Adj Close                                   \
                               AAPL         BA        DIS        IBM
Date
2010-01-04 00:00:00-05:00  6.515213  43.777554  27.933922  80.328056
2010-01-05 00:00:00-05:00  6.526478  45.211334  27.864239  79.357681
2010-01-06 00:00:00-05:00  6.422666  46.582794  27.716164  78.842155
2010-01-07 00:00:00-05:00  6.410791  48.468559  27.724874  78.569260
2010-01-08 00:00:00-05:00  6.453413  48.001007  27.768427  79.357681

                                                    Close             \
                                  KO       MSFT      AAPL         BA
Date
2010-01-04 00:00:00-05:00  19.081619  23.683073  7.643214  56.180000
2010-01-05 00:00:00-05:00  18.850790  23.690718  7.656429  58.020000
2010-01-06 00:00:00-05:00  18.844099  23.545334  7.534643  59.779999
2010-01-07 00:00:00-05:00  18.797268  23.300467  7.520714  62.200001
2010-01-08 00:00:00-05:00  18.449358  23.461159  7.570714  61.599998

                                                  ...   Open              \
                                 DIS         IBM  ...    DIS         IBM
Date                                              ...
2010-01-04 00:00:00-05:00  32.070000  126.625237  ...  32.50  125.411087
2010-01-05 00:00:00-05:00  31.990000  125.095604  ...  32.07  125.889099
2010-01-06 00:00:00-05:00  31.820000  124.282982  ...  31.90  124.933075
2010-01-07 00:00:00-05:00  31.830000  123.852776  ...  31.77  124.158699
2010-01-08 00:00:00-05:00  31.879999  125.095604  ...  31.66  123.393883

                                                    Volume            \
                                  KO       MSFT       AAPL        BA
Date
2010-01-04 00:00:00-05:00  28.580000  30.620001  493729600   6186700
2010-01-05 00:00:00-05:00  28.424999  30.850000  601904800   8867800
2010-01-06 00:00:00-05:00  28.174999  30.879999  552160000   8836500
2010-01-07 00:00:00-05:00  28.165001  30.629999  477131200  14379100
2010-01-08 00:00:00-05:00  27.730000  30.280001  447610800   7146600


                                DIS      IBM        KO      MSFT
Date
2010-01-04 00:00:00-05:00  13700400  6438444  13870400  38409100
2010-01-05 00:00:00-05:00  10307700  7156104  23172400  49749600
2010-01-06 00:00:00-05:00  10709500  5863144  19264600  58182400
2010-01-07 00:00:00-05:00   8202100  6109268  13234600  50559700
2010-01-08 00:00:00-05:00   7657500  4390271  28712400  51197400

[5 rows x 36 columns]

In [12]:
# stocks.tail()

In [13]:
# stocks.info()

In [14]:
# csv로 저장하기
stocks.to_csv("stocks.csv")

In [20]:
# 다중 인덱스가 있는 데이터를 임포트하는 것은 까다롭다. 
# header 파라미터 : 다중 인텍스를 만드는 행들의 인덱스 위치를 정의하기
pd.read_csv("stocks.csv", header = [0, 1]).head(1)

  Unnamed: 0_level_0 Adj Close                      Close          ... Open  \
  Unnamed: 0_level_1      AAPL  BA DIS IBM  KO MSFT  AAPL  BA DIS  ...  DIS
0               Date       NaN NaN NaN NaN NaN  NaN   NaN NaN NaN  ...  NaN

               Volume
  IBM  KO MSFT   AAPL  BA DIS IBM  KO MSFT
0 NaN NaN  NaN    NaN NaN NaN NaN NaN  NaN

[1 rows x 37 columns]

In [19]:
# Date 열을 데이터프레임의 인덱스로 정의하
pd.read_csv("stocks.csv", header = [0, 1], index_col= [0]).head(1)

                          Adj Close                                   \
                               AAPL         BA        DIS        IBM
Date
2010-01-04 00:00:00-05:00  6.515213  43.777554  27.933922  80.328056

                                                    Close                \
                                  KO       MSFT      AAPL     BA    DIS
Date
2010-01-04 00:00:00-05:00  19.081619  23.683073  7.643214  56.18  32.07

                                       ...  Open                     \
                                  IBM  ...   DIS         IBM     KO
Date                                   ...
2010-01-04 00:00:00-05:00  126.625237  ...  32.5  125.411087  28.58

                                         Volume                              \
                                MSFT       AAPL       BA       DIS      IBM
Date
2010-01-04 00:00:00-05:00  30.620001  493729600  6186700  13700400  6438444


                                 KO      MSFT
Date
2010-01-04 00:00:00-05:00  13870400  38409100

[1 rows x 36 columns]

In [21]:
# Datetime 인덱스를 만들고 싶으면 Date 열을 parse_dates 파라미터에 넣어주기
pd.read_csv("stocks.csv", header = [0, 1], index_col= [0], parse_dates=[0]).head(1)

                          Adj Close                                   \
                               AAPL         BA        DIS        IBM
Date
2010-01-04 00:00:00-05:00  6.515213  43.777554  27.933922  80.328056

                                                    Close                \
                                  KO       MSFT      AAPL     BA    DIS
Date
2010-01-04 00:00:00-05:00  19.081619  23.683073  7.643214  56.18  32.07

                                       ...  Open                     \
                                  IBM  ...   DIS         IBM     KO
Date                                   ...
2010-01-04 00:00:00-05:00  126.625237  ...  32.5  125.411087  28.58

                                         Volume                              \
                                MSFT       AAPL       BA       DIS      IBM
Date
2010-01-04 00:00:00-05:00  30.620001  493729600  6186700  13700400  6438444


                                 KO      MSFT
Date
2010-01-04 00:00:00-05:00  13870400  38409100

[1 rows x 36 columns]

In [26]:
stocks = pd.read_csv("stocks.csv", header = [0, 1], index_col = [0], parse_dates = [0])

In [29]:
stocks.head()

,"(Adj Close, AAPL)","(Adj Close, BA)","(Adj Close, DIS)","(Adj Close, IBM)","(Adj Close, KO)","(Adj Close, MSFT)","(Close, AAPL)","(Close, BA)","(Close, DIS)","(Close, IBM)",...,"(Open, DIS)","(Open, IBM)","(Open, KO)","(Open, MSFT)","(Volume, AAPL)","(Volume, BA)","(Volume, DIS)","(Volume, IBM)","(Volume, KO)","(Volume, MSFT)"
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04 00:00:00-05:00,6.515213,43.777554,27.933922,80.328056,19.081619,23.683073,7.643214,56.180000,32.070000,126.625237,...,32.50,125.411087,28.580000,30.620001,493729600,6186700,13700400,6438444,13870400,38409100
2010-01-05 00:00:00-05:00,6.526478,45.211334,27.864239,79.357681,18.850790,23.690718,7.656429,58.020000,31.990000,125.095604,...,32.07,125.889099,28.424999,30.850000,601904800,8867800,10307700,7156104,23172400,49749600
2010-01-06 00:00:00-05:00,6.422666,46.582794,27.716164,78.842155,18.844099,23.545334,7.534643,59.779999,31.820000,124.282982,...,31.90,124.933075,28.174999,30.879999,552160000,8836500,10709500,5863144,19264600,58182400
2010-01-07 00:00:00-05:00,6.410791,48.468559,27.724874,78.569260,18.797268,23.300467,7.520714,62.200001,31.830000,123.852776,...,31.77,124.158699,28.165001,30.629999,477131200,14379100,8202100,6109268,13234600,50559700
2010-01-08 00:00:00-05:00,6.453413,48.001007,27.768427,79.357681,18.449358,23.461159,7.570714,61.599998,31.879999,125.095604,...,31.66,123.393883,27.730000,30.280001,447610800,7146600,7657500,4390271,28712400,51197400

In [30]:
# to_flat_index 메소드를 사용하여 다중 인덱스와 열을 평탄화하기 
# 결과물은 1개의 인덱스 레벨만 있고, 열 레이블은 1개의 튜플로 정의됨
stocks.columns = stocks.columns.to_flat_index()

In [31]:
stocks.columns

Index([('Adj Close', 'AAPL'),   ('Adj Close', 'BA'),  ('Adj Close', 'DIS'),
        ('Adj Close', 'IBM'),   ('Adj Close', 'KO'), ('Adj Close', 'MSFT'),
           ('Close', 'AAPL'),       ('Close', 'BA'),      ('Close', 'DIS'),
            ('Close', 'IBM'),       ('Close', 'KO'),     ('Close', 'MSFT'),
            ('High', 'AAPL'),        ('High', 'BA'),       ('High', 'DIS'),
             ('High', 'IBM'),        ('High', 'KO'),      ('High', 'MSFT'),
             ('Low', 'AAPL'),         ('Low', 'BA'),        ('Low', 'DIS'),
              ('Low', 'IBM'),         ('Low', 'KO'),       ('Low', 'MSFT'),
            ('Open', 'AAPL'),        ('Open', 'BA'),       ('Open', 'DIS'),
             ('Open', 'IBM'),        ('Open', 'KO'),      ('Open', 'MSFT'),
          ('Volume', 'AAPL'),      ('Volume', 'BA'),     ('Volume', 'DIS'),
           ('Volume', 'IBM'),      ('Volume', 'KO'),    ('Volume', 'MSFT')],
      dtype='object')

In [32]:
# 평탄화한 것을 다중 인덱스로 되돌리기
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

In [33]:
stocks.head()

                          Adj Close                                   \
                               AAPL         BA        DIS        IBM
Date
2010-01-04 00:00:00-05:00  6.515213  43.777554  27.933922  80.328056
2010-01-05 00:00:00-05:00  6.526478  45.211334  27.864239  79.357681
2010-01-06 00:00:00-05:00  6.422666  46.582794  27.716164  78.842155
2010-01-07 00:00:00-05:00  6.410791  48.468559  27.724874  78.569260
2010-01-08 00:00:00-05:00  6.453413  48.001007  27.768427  79.357681

                                                    Close             \
                                  KO       MSFT      AAPL         BA
Date
2010-01-04 00:00:00-05:00  19.081619  23.683073  7.643214  56.180000
2010-01-05 00:00:00-05:00  18.850790  23.690718  7.656429  58.020000
2010-01-06 00:00:00-05:00  18.844099  23.545334  7.534643  59.779999
2010-01-07 00:00:00-05:00  18.797268  23.300467  7.520714  62.200001
2010-01-08 00:00:00-05:00  18.449358  23.461159  7.570714  61.599998

                                                  ...   Open              \
                                 DIS         IBM  ...    DIS         IBM
Date                                              ...
2010-01-04 00:00:00-05:00  32.070000  126.625237  ...  32.50  125.411087
2010-01-05 00:00:00-05:00  31.990000  125.095604  ...  32.07  125.889099
2010-01-06 00:00:00-05:00  31.820000  124.282982  ...  31.90  124.933075
2010-01-07 00:00:00-05:00  31.830000  123.852776  ...  31.77  124.158699
2010-01-08 00:00:00-05:00  31.879999  125.095604  ...  31.66  123.393883

                                                    Volume            \
                                  KO       MSFT       AAPL        BA
Date
2010-01-04 00:00:00-05:00  28.580000  30.620001  493729600   6186700
2010-01-05 00:00:00-05:00  28.424999  30.850000  601904800   8867800
2010-01-06 00:00:00-05:00  28.174999  30.879999  552160000   8836500
2010-01-07 00:00:00-05:00  28.165001  30.629999  477131200  14379100
2010-01-08 00:00:00-05:00  27.730000  30.280001  447610800   7146600


                                DIS      IBM        KO      MSFT
Date
2010-01-04 00:00:00-05:00  13700400  6438444  13870400  38409100
2010-01-05 00:00:00-05:00  10307700  7156104  23172400  49749600
2010-01-06 00:00:00-05:00  10709500  5863144  19264600  58182400
2010-01-07 00:00:00-05:00   8202100  6109268  13234600  50559700
2010-01-08 00:00:00-05:00   7657500  4390271  28712400  51197400

[5 rows x 36 columns]

In [40]:
# 인덱스 레벨을 바꾸려면 swaplevel()의 axis 파라미터를 0과 1로 조정하기
# 열 인덱스를 정렬하기 위해 sort_index()의 axis를 조정하면 됨
stocks.swaplevel(axis = 1).sort_index(axis = 1)

                                AAPL                                   \
                           Adj Close      Close       High        Low
Date
2010-01-04 00:00:00-05:00   6.515213   7.643214   7.660714   7.585000
2010-01-05 00:00:00-05:00   6.526478   7.656429   7.699643   7.616071
2010-01-06 00:00:00-05:00   6.422666   7.534643   7.686786   7.526786
2010-01-07 00:00:00-05:00   6.410791   7.520714   7.571429   7.466071
2010-01-08 00:00:00-05:00   6.453413   7.570714   7.571429   7.466429
...                              ...        ...        ...        ...
2019-01-30 00:00:00-05:00  39.873814  41.312500  41.537498  40.057499
2019-01-31 00:00:00-05:00  40.160965  41.610001  42.250000  41.139999
2019-02-01 00:00:00-05:00  40.180264  41.630001  42.244999  41.482498
2019-02-04 00:00:00-05:00  41.321587  42.812500  42.915001  41.820000
2019-02-05 00:00:00-05:00  42.028580  43.544998  43.770000  43.087502

                                                         BA              \
                                Open     Volume   Adj Close       Close
Date
2010-01-04 00:00:00-05:00   7.622500  493729600   43.777554   56.180000
2010-01-05 00:00:00-05:00   7.664286  601904800   45.211334   58.020000
2010-01-06 00:00:00-05:00   7.656429  552160000   46.582794   59.779999
2010-01-07 00:00:00-05:00   7.562500  477131200   48.468559   62.200001
2010-01-08 00:00:00-05:00   7.510714  447610800   48.001007   61.599998
...                              ...        ...         ...         ...
2019-01-30 00:00:00-05:00  40.812500  244439200  376.746307  387.720001
2019-01-31 00:00:00-05:00  41.527500  162958400  374.705719  385.619995
2019-02-01 00:00:00-05:00  41.740002  130672400  376.464508  387.429993
2019-02-04 00:00:00-05:00  41.852501  125982000  385.763641  397.000000
2019-02-05 00:00:00-05:00  43.215000  144406400  398.570587  410.179993

                                                   ...         KO             \
                                 High         Low  ...       High        Low
Date                                               ...
2010-01-04 00:00:00-05:00   56.389999   54.799999  ...  28.610001  28.450001
2010-01-05 00:00:00-05:00   58.279999   56.000000  ...  28.495001  28.070000
2010-01-06 00:00:00-05:00   59.990002   57.880001  ...  28.219999  27.990000
2010-01-07 00:00:00-05:00   62.310001   59.020000  ...  28.184999  27.875000
2010-01-08 00:00:00-05:00   61.779999   60.860001  ...  27.820000  27.375000
...                               ...         ...  ...        ...        ...
2019-01-30 00:00:00-05:00  391.970001  380.500000  ...  47.889999  47.189999
2019-01-31 00:00:00-05:00  388.989990  382.079987  ...  48.779999  47.470001
2019-02-01 00:00:00-05:00  392.799988  384.730011  ...  48.779999  48.400002
2019-02-04 00:00:00-05:00  397.070007  388.119995  ...  49.450001  48.540001
2019-02-05 00:00:00-05:00  410.750000  399.549988  ...  49.470001  49.099998

                                                      MSFT              \
                                Open    Volume   Adj Close       Close
Date
2010-01-04 00:00:00-05:00  28.580000  13870400   23.683073   30.950001
2010-01-05 00:00:00-05:00  28.424999  23172400   23.690718   30.959999
2010-01-06 00:00:00-05:00  28.174999  19264600   23.545334   30.770000
2010-01-07 00:00:00-05:00  28.165001  13234600   23.300467   30.450001
2010-01-08 00:00:00-05:00  27.730000  28712400   23.461159   30.660000
...                              ...       ...         ...         ...
2019-01-30 00:00:00-05:00  47.250000  12952500  101.913872  106.379997
2019-01-31 00:00:00-05:00  47.849998  32181500  100.045731  104.430000
2019-02-01 00:00:00-05:00  48.480000  19130100   98.465004  102.779999
2019-02-04 00:00:00-05:00  48.700001  15105700  101.300735  105.739998
2019-02-05 00:00:00-05:00  49.330002  12651900  102.718605  107.220001


                                 High         Low        Open    Volume
Date
2010-01-04 00:00:00-05:00   31.100000   30.590000   30.620001  38409100
2010-01-05 00:00:00-05:00   31.100000   30.639999   30.850000  49749600
2010-01-06 00:00:00-05:00   31.080000   30.520000   30.879999  58182400
2010-01-07 00:00:00-05:00   30.700001   30.190001   30.629999  50559700
2010-01-08 00:00:00-05:00   30.879999   30.240000   30.280001  51197400
...                               ...         ...         ...       ...
2019-01-30 00:00:00-05:00  106.379997  104.330002  104.620003  49471900
2019-01-31 00:00:00-05:00  105.220001  103.180000  103.800003  55636400
2019-02-01 00:00:00-05:00  104.099998  102.349998  103.779999  35535700
2019-02-04 00:00:00-05:00  105.800003  102.769997  102.870003  31315100
2019-02-05 00:00:00-05:00  107.269997  105.959999  106.059998  27325400

[2288 rows x 36 columns]

## Initial Inspection and Visualization

In [41]:
stocks = pd.read_csv("stocks.csv", header = [0,1], index_col= [0], parse_dates= [0])

In [43]:
stocks.head()

                          Adj Close                                   \
                               AAPL         BA        DIS        IBM
Date
2010-01-04 00:00:00-05:00  6.515213  43.777554  27.933922  80.328056
2010-01-05 00:00:00-05:00  6.526478  45.211334  27.864239  79.357681
2010-01-06 00:00:00-05:00  6.422666  46.582794  27.716164  78.842155
2010-01-07 00:00:00-05:00  6.410791  48.468559  27.724874  78.569260
2010-01-08 00:00:00-05:00  6.453413  48.001007  27.768427  79.357681

                                                    Close             \
                                  KO       MSFT      AAPL         BA
Date
2010-01-04 00:00:00-05:00  19.081619  23.683073  7.643214  56.180000
2010-01-05 00:00:00-05:00  18.850790  23.690718  7.656429  58.020000
2010-01-06 00:00:00-05:00  18.844099  23.545334  7.534643  59.779999
2010-01-07 00:00:00-05:00  18.797268  23.300467  7.520714  62.200001
2010-01-08 00:00:00-05:00  18.449358  23.461159  7.570714  61.599998

                                                  ...   Open              \
                                 DIS         IBM  ...    DIS         IBM
Date                                              ...
2010-01-04 00:00:00-05:00  32.070000  126.625237  ...  32.50  125.411087
2010-01-05 00:00:00-05:00  31.990000  125.095604  ...  32.07  125.889099
2010-01-06 00:00:00-05:00  31.820000  124.282982  ...  31.90  124.933075
2010-01-07 00:00:00-05:00  31.830000  123.852776  ...  31.77  124.158699
2010-01-08 00:00:00-05:00  31.879999  125.095604  ...  31.66  123.393883

                                                    Volume            \
                                  KO       MSFT       AAPL        BA
Date
2010-01-04 00:00:00-05:00  28.580000  30.620001  493729600   6186700
2010-01-05 00:00:00-05:00  28.424999  30.850000  601904800   8867800
2010-01-06 00:00:00-05:00  28.174999  30.879999  552160000   8836500
2010-01-07 00:00:00-05:00  28.165001  30.629999  477131200  14379100
2010-01-08 00:00:00-05:00  27.730000  30.280001  447610800   7146600


                                DIS      IBM        KO      MSFT
Date
2010-01-04 00:00:00-05:00  13700400  6438444  13870400  38409100
2010-01-05 00:00:00-05:00  10307700  7156104  23172400  49749600
2010-01-06 00:00:00-05:00  10709500  5863144  19264600  58182400
2010-01-07 00:00:00-05:00   8202100  6109268  13234600  50559700
2010-01-08 00:00:00-05:00   7657500  4390271  28712400  51197400

[5 rows x 36 columns]

In [ ]:
# stocks.tail()

In [45]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2288 entries, 2010-01-04 00:00:00-05:00 to 2019-02-05 00:00:00-05:00
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2288 non-null   float64
 1   (Adj Close, BA)    2288 non-null   float64
 2   (Adj Close, DIS)   2288 non-null   float64
 3   (Adj Close, IBM)   2288 non-null   float64
 4   (Adj Close, KO)    2288 non-null   float64
 5   (Adj Close, MSFT)  2288 non-null   float64
 6   (Close, AAPL)      2288 non-null   float64
 7   (Close, BA)        2288 non-null   float64
 8   (Close, DIS)       2288 non-null   float64
 9   (Close, IBM)       2288 non-null   float64
 10  (Close, KO)        2288 non-null   float64
 11  (Close, MSFT)      2288 non-null   float64
 12  (High, AAPL)       2288 non-null   float64
 13  (High, BA)         2288 non-null   float64
 14  (High, DIS)        2288 non-null   float64
 15  (High, IBM)        2288 non-null   float64
 16  (High, KO)         2288 non-null   float64
 17  (High, MSFT)       2288 non-null   float64
 18  (Low, AAPL)        2288 non-null   float64
 19  (Low, BA)          2288 non-null   float64
 20  (Low, DIS)         2288 non-null   float64
 21  (Low, IBM)         2288 non-null   float64
 22  (Low, KO)          2288 non-null   float64
 23  (Low, MSFT)        2288 non-null   float64
 24  (Open, AAPL)       2288 non-null   float64
 25  (Open, BA)         2288 non-null   float64
 26  (Open, DIS)        2288 non-null   float64
 27  (Open, IBM)        2288 non-null   float64
 28  (Open, KO)         2288 non-null   float64
 29  (Open, MSFT)       2288 non-null   float64
 30  (Volume, AAPL)     2288 non-null   int64
 31  (Volume, BA)       2288 non-null   int64
 32  (Volume, DIS)      2288 non-null   int64
 33  (Volume, IBM)      2288 non-null   int64
 34  (Volume, KO)       2288 non-null   int64
 35  (Volume, MSFT)     2288 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 661.4+ KB

In [ ]:
stocks.describe()

In [ ]:
close = stocks.loc[:, "Close"].copy()

In [ ]:
close.head()

In [ ]:
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
close.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

## Normalizing Time Series to a Base Value (100)

In [ ]:
close.head()

In [ ]:
close.iloc[0,0]

In [ ]:
close.AAPL.div(close.iloc[0,0]).mul(100)

In [ ]:
close.iloc[0]

In [ ]:
norm = close.div(close.iloc[0]).mul(100)
norm

In [ ]:
norm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

## The shift() method

In [ ]:
close.head()

In [ ]:
aapl = close.AAPL.copy().to_frame()

In [ ]:
aapl.head()

In [ ]:
aapl.shift(periods = 1)

In [ ]:
aapl["lag1"] = aapl.shift(periods = 1)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.sub(aapl.lag1)

In [ ]:
aapl["Diff"] = aapl.AAPL.sub(aapl.lag1)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.div(aapl.lag1).sub(1).mul(100)

In [ ]:
aapl["pct_change"] = aapl.AAPL.div(aapl.lag1).sub(1).mul(100)

In [ ]:
aapl.head()

## The methods diff() and pct_change()

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.diff(periods = 2)

In [ ]:
aapl["Diff2"] = aapl.AAPL.diff(periods = 1)

In [ ]:
aapl.head(10)

In [ ]:
aapl.Diff.equals(aapl.Diff2)

In [ ]:
aapl["pct_change2"] = aapl.AAPL.pct_change(periods = 1).mul(100)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.resample("BM").last().pct_change(periods =1).mul(100)

## Measuring Stock Perfromance with MEAN Return and STD of Returns

In [ ]:
import numpy as np

In [ ]:
aapl = close.AAPL.copy().to_frame()

In [ ]:
aapl.head()

In [ ]:
aapl.pct_change().dropna()

In [ ]:
ret = aapl.pct_change().dropna()
ret.head()

In [ ]:
ret.info()

In [ ]:
ret.plot(kind = "hist", figsize = (12 ,8), bins = 100)
plt.show()

In [ ]:
daily_mean_Return = ret.mean()
daily_mean_Return

In [ ]:
var_daily_Returns = ret.var()
var_daily_Returns

In [ ]:
std_daily_Returns = np.sqrt(var_daily_Returns)
std_daily_Returns

In [ ]:
ret.std()

In [ ]:
ann_mean_Return = ret.mean() * 252
ann_mean_Return

In [ ]:
ann_var_Returns = ret.var() * 252
ann_var_Returns

In [ ]:
ann_std_Returns = np.sqrt(ann_var_Returns)
ann_std_Returns

In [ ]:
ret.std() * np.sqrt(252)

## Financial Time Series - Return and Risk

In [ ]:
import numpy as np

In [ ]:
norm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

In [ ]:
close.head()

In [ ]:
close.pct_change().dropna()

In [ ]:
ret = close.pct_change().dropna()

In [ ]:
ret.head()

In [ ]:
ret.describe().T.loc[:, ["mean", "std"]]

In [ ]:
summary = ret.describe().T.loc[:, ["mean", "std"]]
summary

In [ ]:
summary["mean"] = summary["mean"]*252
summary["std"] = summary["std"] * np.sqrt(252)

In [ ]:
summary

In [ ]:
summary.plot(kind = "scatter", x = "std", y = "mean", figsize = (15,12), s = 50, fontsize = 15)
for i in summary.index:
    plt.annotate(i, xy=(summary.loc[i, "std"]+0.002, summary.loc[i, "mean"]+0.002), size = 15)
plt.xlabel("ann. Risk(std)", fontsize = 15)
plt.ylabel("ann. Return", fontsize = 15)
plt.title("Risk/Return", fontsize = 20)
plt.show()

## Financial Time Series - Covariance and Correlation

In [ ]:
ret.head()

In [ ]:
ret.cov()

In [ ]:
ret.corr()

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(12,8))
sns.set(font_scale=1.4)
sns.heatmap(ret.corr(), cmap = "Reds", annot = True, annot_kws={"size":15}, vmax = 0.6)
plt.show()

## Simple Returns vs. Log Returns

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(index = [2016, 2017, 2018], data = [100, 50, 95], columns = ["Price"])

In [ ]:
df

In [ ]:
simple_returns = df.pct_change().dropna()
simple_returns

In [ ]:
simple_returns.mean()

In [ ]:
100 * 1.2 * 1.2

In [ ]:
df

In [ ]:
np.log(df / df.shift(1))

In [ ]:
log_returns = np.log(df / df.shift(1)).dropna()

In [ ]:
log_returns

In [ ]:
log_returns.mean()

In [ ]:
100 * np.exp(2 * log_returns.mean())

## Importing Financial Data from Excel

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel("SP500.xls").info()

In [ ]:
pd.read_excel("SP500.xls", parse_dates= ["Date"], index_col = "Date")

In [ ]:
pd.read_excel("SP500.xls", parse_dates= ["Date"], index_col = "Date", usecols = "A, C:E")

In [ ]:
pd.read_excel("SP500.xls", sheet_name= "Sales")

In [ ]:
SP500 = pd.read_excel("SP500.xls", parse_dates= ["Date"], index_col = "Date", usecols= "A:E")

In [ ]:
SP500.head()

In [ ]:
SP500.tail()

In [ ]:
SP500.info()

In [ ]:
SP500.to_csv("SP500.csv")

In [ ]:
SP500.to_excel("SP500_red.xls")

## Simple Moving Averages (SMA) with rolling()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt 
plt.style.use("seaborn")

In [ ]:
SP500 = pd.read_csv("SP500.csv", parse_dates = ["Date"], index_col = "Date")

In [ ]:
SP500.head()

In [ ]:
SP500.tail()

In [ ]:
SP500.info()

In [ ]:
SP500 = SP500.Close.to_frame()

In [ ]:
SP500.head()

In [ ]:
SP500.plot(figsize = (12,8), fontsize= 15)
plt.legend(loc = "upper left", fontsize = 15)
plt.show()

In [ ]:
SP500 = SP500.loc["2008-12-31":"2018-12-31"].copy()

In [ ]:
SP500.rolling(window = 10)

In [ ]:
type(SP500.rolling(window = 10))

In [ ]:
SP500.head(15)

In [ ]:
SP500.rolling(window = 10).mean()

In [ ]:
SP500.rolling(window = 10).median()

In [ ]:
SP500.rolling(window = 10, min_periods=5).mean()

## Momentum Trading Strategies with SMAs

In [ ]:
SP500.head()

In [ ]:
SP500.tail()

In [ ]:
SP500["SMA50"] = SP500.rolling(window = 50, min_periods=50).mean()

In [ ]:
SP500

In [ ]:
SP500.plot(figsize = (12, 8), fontsize = 15)
plt.legend(loc = "upper left", fontsize = 15)
plt.show()

In [ ]:
SP500["SMA200"] = SP500.Close.rolling(window = 200).mean()

In [ ]:
SP500.tail()

In [ ]:
SP500.info()

In [ ]:
SP500.plot(figsize = (15,10), fontsize= 15)
plt.legend(fontsize = 15)
plt.show()

In [ ]:
SP500.iloc[:,-2:].plot(figsize = (15,10), fontsize= 15)
plt.legend(fontsize = 15)
plt.show()

## Exponentially-weighted Moving Averages (EWMA)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
SP500 = pd.read_csv("SP500.csv", parse_dates= ["Date"], index_col= "Date", usecols= ["Date", "Close"])

In [ ]:
SP500.head()

In [ ]:
SP500 = SP500.loc["2008-12-31":"2018-12-31"].copy()

In [ ]:
SP500.Close.rolling(window = 10).mean()

In [ ]:
SP500.Close.ewm(span = 10, min_periods= 10).mean()

In [ ]:
SP500["SMA"] = SP500.Close.rolling(window = 100).mean()
SP500["EMA"] = SP500.Close.ewm(span = 100, min_periods= 100).mean()

In [ ]:
SP500

In [ ]:
SP500.iloc[:,-2:].plot(figsize = (15,10), fontsize =15)
plt.legend(fontsize = 15)
plt.show()

### Merging Time Series

In [ ]:
import pandas as pd

In [ ]:
stocks = pd.read_csv("stocks.csv", header = [0,1], index_col= [0], parse_dates= [0]).Close

In [ ]:
stocks.head()

In [ ]:
aapl = stocks.loc["2010-01-01" : "2014-12-31", "AAPL"].to_frame()
aapl.head()

In [ ]:
ba = stocks.loc["2012-01-01" : "2016-12-31", "BA"].to_frame()
ba.head()

In [ ]:
aapl["BA"] = ba.BA

In [ ]:
aapl.head()

In [ ]:
aapl.tail()

In [ ]:
aapl.dropna()

In [ ]:
ba.reindex(aapl.index).dropna()

In [ ]:
dis = stocks.loc["2010-01-01" : "2016-12-31", "DIS"].resample("W-Fri").last().to_frame()
dis.head()

In [ ]:
aapl.head()

In [ ]:
aapl["DIS"] = dis.DIS

In [ ]:
aapl.head(10)

In [ ]:
dis.reindex(aapl.index)

In [ ]:
dis["AAPL"] = aapl.AAPL

In [ ]:
dis.head(10)